/* Elements properties */
body{
    background-color: #FFFFE8;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
    margin: 0;
}
main{
    margin: 50px 0;
    margin-bottom: 50px;
}

footer {
    width: 100%;
    background-color: #0F5E49;
    color: white;
    padding: 20px;
}

h1, h2, h3, h4{
    font-family: "Atma", serif;
}

a{
    color: black;
}
a:hover{
    color: #0F5E49;
}
input:focus {
    outline: none !important; 
    border: 0.125rem solid #0F5E49 !important;
    box-shadow: 0 0 0.4rem #AACB73 !important;
}

/* Custom classes */
.vertical_padding{
    margin-top: 1%;
}

.container-fluid{
    padding: 0% 9%;
}

.box_shadow{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Custom buttons */
.btn_plus {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
}

.dark_btn{
    background-color: #0F5E49;
    border-color: #0F5E49;
    color: white;
    transition: background-color 0.3s ease;
}
.dark_btn:hover{
    background-color: #22BF8A;
    border-color: #0F5E49;
}
.dark_btn a{
    color: white;
    text-decoration: none;
}

/* Sidebar */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #22BF8A;
    transition: transform 0.3s ease-in-out;
    z-index: 1040;
}

#sidebar.collapsed {
    transform: translateX(-250px);
}

#content {
    transition: margin-left 0.3s ease-in-out;
}

#content.sidebar-expanded {
    margin-left: 250px;
}

/* Top Navbar  */
#top_navbar {
    background-color: #22BF8A;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    transition: margin-left 0.3s ease-in-out;
    z-index: 1050;
}

.nav-item{
    padding-right: 1.25rem;
}

.toggle_sidebar{
    border-style: none;
    background-color: transparent;
    padding-right: 1rem;
}
.navbar_name{
    margin: 0;
}
.nav, li a{
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: black;
    order: -1;
}

/* Welcome Page  */
.welcome_page{
    margin-top: 50px;
}
.welcome_logo{
    height: auto;
    width: 15%;
}
.welcome_page .div{
    position: static;
}

/* Pet card */
.pet_card {
    padding: 1rem;
    background-color: #F6EACB;
}
.pet-photo{
    height: auto;
    width: 100%;
    position: relative;
}

.card_name{
    display: inline-block;
}

/* New Pet Form */
#image-preview {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    border: 1px solid #ddd;
    padding: 5px;
}
