/* Global Theme Variables */
:root {
    --bg-color: #FFFFE8; /* Light Mode Background */
    --text-color: black;
    --primary-color: #22BF8A;
    --secondary-color: #F6EACB;
}

/* Dark Mode */
body.dark-mode {
    --bg-color: #373331;
    --text-color: #FFFFE8;
    --primary-color: #0F5E49;
    --secondary-color: black;
}
body.dark-mode .modal-content{
    background-color: var(--bg-color);
    color: var(--text-color);
}
/* Elements properties */
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
    margin: 0;
}
main{
    margin: 50px 0;
    margin-bottom: 50px;
}

footer {
    width: 100%;
    background-color: #0F5E49;
    color: white;
    padding: 20px;
}

h1, h2, h3, h4{
    font-family: "Atma", serif;
}

hr{
    border-top: 0.5rem dotted #0F5E49;
    margin: 1rem auto;
    width: 20%;
}

a, i {
    color: var(--text-color);
}

input:focus {
    outline: none !important; 
    border: 0.125rem solid #0F5E49 !important;
    box-shadow: 0 0 0.4rem #AACB73 !important;
}

textarea:focus{
    outline: none !important; 
    border: 0.125rem solid #0F5E49 !important;
    box-shadow: 0 0 0.4rem #AACB73 !important;
}

/* Custom classes */
.container-fluid{
    padding: 0% 9%;
}

.dropdown-menu{
    background-color: var(--primary-color);
}
.dropdown-item, .dropdown button{
    color: var(--text-color);
}

.animate-dropdown {
    animation: fadeIn 0.3s ease-in-out;
}

.bg_img{
    max-height: 60vh;
    width: auto;
    object-fit: contain;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.card {
    padding: 1rem;
    background-color: var(--secondary-color);
    --bs-card-border-color: var(--text-color);
    color: var(--text-color);
}

.text-body-secondary{
    color: var(--text-color) !important;
}

.text-muted{
    color: var(--text-color) !important;
}

/* Custom buttons */
.btn_plus {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.dark_btn{
    background-color: #0F5E49;
    border-color: #0F5E49;
    color: white;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.dark_btn:hover{
    background-color: #22BF8A;
    border-color: #0F5E49;
}
.dark_btn a, .dark_btn i {
    color: #FFFFE8;
    text-decoration: none;
}
.dark_btn a:hover{
    color: var(--secondary-color) !important;
}

.btn-no-caret::after {
    display: none !important;
}


/* Top Navbar  */
#top_navbar {
    background-color: var(--primary-color);
    color: white;
    top: 0;
    left: 0;
    right: 0;
    transition: margin-left 0.3s ease-in-out;
    z-index: 1050;
}

#top_navbar i, #top_navbar .nav-link.dropdown-toggle {
    color: #FFFFE8;
}
.nav-item{
    padding-right: 1.25rem;
}

.nav-link, .nav-link.dropdown-toggle {
    color: var(--text-color);
}
.dropdown-item:hover{
    background-color: var(--primary-color);
}

.navbar_name{
    margin: 0;
}

/* Welcome Page  */
.welcome_page{
    margin-top: 50px;
}
.welcome_logo{
    height: auto;
    width: 15%;
}
.welcome_page .div{
    position: static;
}

/* Pet card */
.pet-photo{
    height: auto;
    width: 100%;
    position: relative;
}

.card_name{
    display: inline-block;
}

#addPetBtn{
    position: fixed;
    right: 9%;
    bottom: 100px;
    z-index: 1030;
}

/* New Pet Form */
.pet_pfp {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 50%;
}

/* Gallery  */
.photo-gallery .photo-card {
    transition: transform 0.3s ease-in-out;
}
.photo-gallery .photo-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.gallery_img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    padding: 5px 0 0;
}

/* Trackers */
.nav-pills {
    --bs-nav-pills-link-active-bg: var(--primary-color);
}

.nav-link:hover{
    color: black;
}

.tab-pane {
    margin-top: 20px;
}

.table{
    --bs-table-bg: var(--bg-color);
    --bs-table-color: var(--text-color);
    --bs-table-border-color: transparent;
}

/* Weight graph  */
.graph-container {
    max-width: 100%; /* Ensure it doesn't exceed the container's width */
    max-height: 50%;
    overflow: hidden; /* Prevent overflow */
}

.responsive-graph svg {
    width: 100%; /* Scale SVG to fit container */
    height: auto; /* Maintain aspect ratio */
}
