<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PetPal {% block title %}{% endblock %}</title>

        <!-- Favicon -->
        <link rel="icon" href="/static/images/favicon.png"/>

        <!-- Bootstrap CSS & JS bundle-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        
        <!-- Font families -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

        <!-- Font Awesome Icons -->
        <script src="https://kit.fontawesome.com/246833f4ba.js" crossorigin="anonymous"></script>

        <!-- My CSS -->
        <link rel="stylesheet" href="/static/css/styles.css"/>
    </head>
    <body>
        {% if session["user_id"] %}
        <!-- Sidebar -->
        <div id="sidebar" class="collapsed">
            <div class="p-3">
                <h5></h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="nav-link">General Data</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Trackers</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Gallery</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Documents</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Log Records</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Calendar</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Articles</a></li>
                </ul>
            </div>
        </div>

        <div id="content" class="sidebar-collapsed">
            <!-- Top Navbar -->
            <nav id="top_navbar" class="navbar navbar-expand-md navbar-light sticky-top">
                <div class="container-fluid">
                    <button class="sidebar_btn" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-expanded="false" aria-controls="sidebar">
                        <img src="/static/images/favicon.png" alt="Logo" width="60" height="auto" class="d-inline-block">
                    </button>
                    <h1 class="navbar_name">PetPal</h1>

                    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ms-auto mt-2">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Pets
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">All Pets</a></li>

                                        {% for pet in pets %}
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#">{{ pet }}</a></li>
                                        {% endfor %}

                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="#">Calendar</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
                                <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                            </ul>          
                    </div>
                </div>
            </nav>
            {% endif %}

            {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary alert-dismissible fade show mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </header>
            {% endif %}
            

            <main>
            {% block main %}{% endblock %}
            </main>
        </div>
        <footer>
            <p>Copyright © <span id="year"></span>. All rights reserved.</p>
        </footer>
    </body>

    <script>
        // Generate current year
        const yearSpan = document.getElementById("year");
        const currentYear = new Date().getFullYear();
        yearSpan.textContent = currentYear;
    
        // Toggle sidebar
        const sidebar = document.getElementById('sidebar');
        const content = document.getElementById('content');
        const navbar = document.querySelector('.navbar');
        const toggleButton = document.querySelector('[data-bs-toggle="collapse"]');
    
        toggleButton.addEventListener('click', () => {
            sidebar.classList.toggle('collapsed');
            content.classList.toggle('sidebar-expanded');
            navbar.classList.toggle('sidebar-expanded');
        });
    </script>
    
    
    
    
</html>