{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div class="mt-4">
        <img src="/static/images/favicon.png" alt="logo" class="welcome_logo">
        <h1>Sign In</h1>
    </div>
    <div class="vertical_padding">
        <form action="/login" method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <label for="email">Email</label>
                {{ form.email(class="form-control mx-auto w-auto", placeholder="Enter your email") }}
            </div>
            <div class="mb-3">
                <label for="password">Password</label>
                {{ form.password(class="form-control mx-auto w-auto", placeholder="Enter your password") }}
            </div>
            <button class="btn dark_btn" type="submit">Login</button>
        </form>
    </div>
    <div class="mt-4">
        <a href="/restore_password">Forgot your password?</a><br>
    </div>
    <div class="mt-4">
        <a href="/register">Don't have an account?</a>
    </div>
    

{% endblock %}