{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="vertical_padding">
        <img src="/static/images/favicon.png" alt="logo" class="welcome_logo">
        <h1>Register with social media</h1>
    </div>
    <div class="vertical_padding">
        <a href="/register/google"><button class="btn"><i class="fab fa-google fa-2x"></i></button></a>
        <a href="/register/facebook"><button class="btn"><i class="fab fa-facebook fa-2x"></i></button></a>
        <a href="/register/apple"><button class="btn"><i class="fab fa-apple fa-2x"></i></button></a>
    </div>
    <div class="mt-4">
        <h4>Or</h4>
        <form action="{{ url_for('auth.register') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <label for="email">Username</label>
                {{ form.username(class="form-control mx-auto w-auto", placeholder="Username") }}
            </div>
            <div class="mb-3">
                <label for="email">Email</label>
                {{ form.email(class="form-control mx-auto w-auto", placeholder="Enter your email") }}
            </div>
            <div class="mb-3">
                <label for="password">Password</label>
                {{ form.password(class="form-control mx-auto w-auto", placeholder="Enter your password") }}
            </div>
            <div class="mb-3">
                <label for="password">Password Confirmation</label>
                {{ form.confirmation(class="form-control mx-auto w-auto", placeholder="Confirm password") }}
            </div>
            <button class="btn dark_btn" type="submit">Register</button>
        </form>
    </div>
    <div class="mt-4">
        <a href="/login">Already have an account?</a>
    </div>
    
    
{% endblock %}