{% extends 'layout.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
  <div class="vertical_padding">
    <img src="/static/images/favicon.png" alt="logo" class="welcome_logo">
    <br>
    <h1>Reset Your Password</h1>
  </div>
  <br><br>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.password.label }}
      {{ form.password(class="form-control mx-auto w-auto", autofocus=True) }}
    </div>
    <br><br>
    <div class="form-group">
      {{ form.confirm_password.label }}
      {{ form.confirm_password(class="form-control mx-auto w-auto") }}
    </div>
    <br><br>
    <div class="form-group">
      {{ form.submit(class="btn dark_btn") }}
    </div>
  </form>
{% endblock %}
