{% extends 'layout.html' %}

{% block title %}
    Restore Password
{% endblock %}

{% block main %}
  <div class="mt-4">
    <img src="/static/images/favicon.png" alt="logo" class="welcome_logo">
    <h1>Restore Password</h1>
  </div>
  <br><br>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.email.label }}
      {{ form.email(class="form-control mx-auto w-auto", autofocus=True) }}
    </div>
    <br><br>
    <div class="form-group">
      {{ form.submit(class="btn dark_btn") }}
    </div>
  </form>
{% endblock %}
