{% extends "layout.html" %}

{% block title %}
    Add {{ tracker_type|capitalize }}
{% endblock %}

{% block main %}
    <h1>Add New {{ tracker_type|capitalize }} Entry</h1>

    <form method="POST" action="{{ url_for('trackers.add_tracker', tracker_type=tracker_type, pet_id=pet_id) }}">
        {{ form.hidden_tag() }}
        <input type="hidden" name="pet_id" value="{{ pet_id }}">

        <div class="form-group mt-4">
            {{ form.date.label }} 
            {{ form.date(class="form-control mx-auto w-auto", required=True) }}
        </div>

        <!-- Conditional fields for each tracker type -->
        {% if tracker_type == 'weight' %}
            <div class="form-group mt-4">
                {{ form.weight.label }} 
                {{ form.weight(class="form-control mx-auto w-auto", required=True, autofocus=True, type="number", min="0") }}
            </div>
        {% elif tracker_type == 'vaccine' %}
            <div class="form-group mt-4">
                {{ form.vaccine_name.label }} 
                {{ form.vaccine_name(class="form-control mx-auto w-auto", required=True, autofocus=True) }}
            </div>
            <div class="form-group mt-4">
                {{ form.administered_by.label }} 
                {{ form.administered_by(class="form-control mx-auto w-auto") }}
            </div>
        {% elif tracker_type == 'internal_deworming' %}
            <div class="form-group mt-4">
                {{ form.product_name.label }} 
                {{ form.product_name(class="form-control mx-auto w-auto", required=True, autofocus=True) }}
            </div>
        {% elif tracker_type == 'external_deworming' %}
            <div class="form-group mt-4">
                {{ form.product_name.label }} 
                {{ form.product_name(class="form-control mx-auto w-auto", required=True, autofocus=True) }}
            </div>
        {% elif tracker_type == 'medication' %}
            <div class="form-group mt-4">
                {{ form.product_name.label }} 
                {{ form.product_name(class="form-control mx-auto w-auto", required=True, autofocus=True) }}
            </div>
        {% endif %}

        {% if tracker_type != 'weight' %}
            <div class="form-group mt-4">
                {{ form.next_dosis.label }} 
                {{ form.next_dosis(class="form-control mx-auto w-auto") }}
            </div>
        {% endif %}

        <div class="form-group mt-4">
            {{ form.notes.label }}
            {{ form.notes(class="form-control mx-auto w-auto") }}
        </div>

        {{ form.submit(class="btn dark_btn mt-4") }}
        <button onclick="window.history.back()" class="btn btn-secondary mt-4">Cancel</button>
    </form>

{% endblock %}
