{% extends "layout.html" %}

{% block title %}
    New Photo
{% endblock %}

{% block main %}

    <h2>Upload a new photo</h2>

    <form action="{{ url_for('gallery.upload_photo', pet_id=pet.id) }}" method="post" enctype="multipart/form-data" class="mt-4">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label class="form-label" for="photo">Add New Photo:</label>
            {{ form.image(id="new_photo", accept="image/*", class="form-control mx-auto w-auto d-inline-block") }}
        </div>
        <div id="preview-container" class="mt-3" style="display: none;">
            <p>Preview:</p>
            <img id="image-preview" src="" alt="Preview of the uploaded image" class="img-fluid shadow gallery_photo">
        </div>
        <div class="mt-4">
            <label  for="title">Title (optional):</label>
            {{ form.title(autocomplete="off", class="form-control mx-auto w-auto d-inline-block", autofocus=True) }}
            <br><br>
            <label for="date" class="mt-4">Date:</label>
            {{ form.date_uploaded(autocomplete="off") }}
        </div>

        <button onclick="window.location.href='/'" class="btn btn-secondary mt-4">Cancel</button>
        {{ form.submit(class="btn dark_btn mt-4") }}
    </form>

    <script>
            // Show photo preview
            document.addEventListener('DOMContentLoaded', function () {
                const inputPhoto = document.getElementById('new_photo');
                const previewContainer = document.getElementById('preview-container');
                const imagePreview = document.getElementById('image-preview');
                const croppedImageData = document.getElementById('cropped-image-data');
                const validExtensions = ['jpg', 'jpeg', 'png', 'gif']; // Valid extensions
                const MAX_FILE_SIZE_MB = 5; // Max size 5MB

                inputPhoto.addEventListener('change', function (event) {
                const file = event.target.files[0];
                if (file) {
                    if (file.size > MAX_FILE_SIZE_MB * 1024 * 1024) {
                        alert("The file is too large. Maximum size is " + MAX_FILE_SIZE_MB + " MB.");
                        inputPhoto.value = "";
                        return;
                    }

                    if (!file.type.startsWith('image/') || !validExtensions.includes(fileExtension)) {
                        alert("Please upload a valid image file(jpeg, jpg, png, gif).");
                        inputPhoto.value = "";
                        return;
                    }

                    const reader = new FileReader();
                    reader.onload = function (e) {
                        imagePreview.src = e.target.result;
                        previewContainer.style.display = 'block';
                    };
                    
                    reader.readAsDataURL(file);
                    }
                });
            });
    </script>
{% endblock %}