{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block body %}

    <h1>Welcome to PetPal</h1>
    <p>
        🐾 Your trusted companion for keeping your pets happy and healthy. 
        Manage schedules, track health, and create memories—all in one place. 
        Let’s make pet care smarter, easier, and more fun.
    </p>
    <form action="/tutorial" method="get">
        <button>Get Started!</button>
    </form>
    <form action="/login" method="get">
        <button>I have an Account</button>
    </form>
    <form action="/register" method="get">
        <button>Create an Account</button>
    </form>

{% endblock %}