{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block body %}
    <img src="/images/favicon.png" alt="logo">
    <h1>Welcome to PetPal</h1>
    <p>
        🐾 Your trusted companion for keeping your pets happy and healthy. 
        Manage schedules, track health, and create memories—all in one place. 
        Let’s make pet care smarter, easier, and more fun.
    </p>

    <button class="btn btn-primary btn-lg">
        <a href="/tutorial">Get Started!</a>
    </button>
    <button class="btn btn-primary btn-lg">
        <a href="/login">I have an Account</a>
    </button>
    <button class="btn btn-primary btn-lg">
        <a href="/register">Create an Account</a>
    </button>

{% endblock %}