{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block body %}
    <img src="/images/favicon.png" alt="logo">
    <h1>Welcome to PetPal</h1>
    <p>
        🐾 Your trusted companion for keeping your pets happy and healthy. 
        Manage schedules, track health, and create memories—all in one place. 
        Let’s make pet care smarter, easier, and more fun.
    </p>

    <a href="/tutorial">
        <button class="btn btn-primary btn-lg">Get Started!</button>
    </a>
    <a href="/login">
        <button class="btn btn-primary btn-lg">I have an Account</button>
    </a>
    <a href="/register">
        <button class="btn btn-primary btn-lg">Create an Account</button>
    </a>

{% endblock %}